<div class="container-fluid">

  <h2 class="text-center" id="titre_mission">Gestion des missions</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Nature</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Transport</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- TODO ngFor -->
      <!-- Remplissage du tableau -->
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <!-- Bouton d'ajout d'une mission -->
  <div class="row">
    <div class="col-lg-2 offset-lg-9 col-sm-5 offset-sm-5">
      <h5>Demander une mission</h5>
    </div>
    <div class="col-lg-1 col-sm-2">
      <button type="button" (click)="goToAjout()" class="btn btn-primary">+</button>
    </div>
  </div>

</div>