<div class="container-fluid">

  <h2 class="text-center" id="titre_mission">Gestion des missions</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Nature</th>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Transport</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- Remplissage du tableau -->
      <!-- Si une mission est une 'absence' alors on 
      n'affiche pas le départ/arrivée/transport -->
      <tr *ngFor="let mission of listeMissions">
        <td>{{mission.dateDebut | date:'dd/MM/yyyy'}}</td>
        <td>{{mission.dateFin | date:'dd/MM/yyyy'}}</td>
        <td>{{mission.nature.nom}}</td>
        <td *ngIf="mission.nature.nom==='Absence'; else showDepart">
          -
        </td>
        <ng-template #showDepart>
          <td>{{mission.villeDeDepart}}</td>
        </ng-template>
        <td *ngIf="mission.nature.nom==='Absence'; else showArrivee">
          -
        </td>
        <ng-template #showArrivee>
            <td>{{mission.villeDArrivee}}</td>
        </ng-template>
        <td *ngIf="mission.nature.nom==='Absence'; else showTransport">
          -
        </td>
        <ng-template #showTransport>
            <td>{{mission.transport}}</td>
        </ng-template>
        <td>{{mission.statut}}</td>
        <td>
          <div class="row">
            <div class="col-6">
              <a href="#" (click)="suppressionMission(mission)"><i class="fas fa-trash-alt"></i></a>
            </div>
            <!-- Si le statut est 'Initiale' ou 'Rejetée' on affiche
              une icone de modification -->
              <!-- TODO Ajout du test si 'ABSENCE' -->
            <div class="col-6">
              <div *ngIf="mission.statut==='Initial' || mission.statut==='Rejetée'">
                <a href="#" (click)="modifierMission(mission)"><i class="fas fa-edit"></i></a>
              </div>
              <div *ngIf="mission.nature.nom==='Absence'">
                <a href="#" (click)="goToAbsence(mission)"><i class="fas fa-eye"></i></a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Bouton d'ajout d'une mission -->
  <div class="row">
    <div class="col-lg-2 offset-lg-9 col-sm-5 offset-sm-5">
      <h5>Demander une mission</h5>
    </div>
    <div class="col-lg-1 col-sm-2">
      <button type="button" (click)="goToAjout()" class="btn btn-primary">+</button>
    </div>
  </div>

</div>