<div class="container-fluid">

  <h2 class="text-center" id="titre_nature">Gestion des natures</h2>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nature</th>
        <th>Facturée</th>
        <th>Prime</th>
        <th>TJM(€)</th>
        <th>%Prime</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- Remplissage du tableau -->
      <tr *ngFor="let nature of listeNatures">
        <td>{{nature.nom | titlecase}}</td>

        <td *ngIf="nature.facturee; else nonFacturee">
          Oui
        </td>
        <ng-template #nonFacturee>
          <td>Non</td>
        </ng-template>

        <script>console.log(nature.prime);</script>
        <td *ngIf="nature.versementPrime; else nonPrime">
          Oui
        </td>
        <ng-template #nonPrime>
          <td>Non </td>
        </ng-template>

        <td>{{nature.tjm}}</td>

        <td>{{nature.prime}}</td>

        <td>
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-primary" (click)="suppressionNature(nature)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-primary" (click)="modifierNature(nature)">
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Bouton d'ajout d'une nature -->
  <div class="row">
    <div class="col-lg-2 offset-lg-9 col-sm-5 offset-sm-5">
      <h5>Ajouter une nature de mission : </h5>
    </div>
    <div class="col-lg-1 col-sm-2">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        +
      </button>
    </div>
  </div>

  <!-- Création de la modal d'ajout -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter une nature de mission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!--contenu de la modal -->
          <h2>Nouvelle nature de mission</h2>

          <form (ngSubmit)="handleSubmit()" name="formeAjout" [formGroup]="natureForm">
            <div class="row">

              <label class="col-5">Nature : </label>
              <input formControlName="nom" class="form-control col-7" name="nom" [(ngModel)]="nature.nom">
            </div>

            <div class="row">
              <label class="col-5">Facturée : </label>
              <select formControlName="facturee" class="form-control col-7" [(ngModel)]="nature.facturee">
                <option value="true"> Oui </option>
                <option value="false"> Non </option>
              </select>
            </div>

            <div class="row">
              <label class="col-5">Versement prime : </label>
              <select formControlName="versementPrime" class="form-control col-7" [(ngModel)]="nature.versementPrime">
                <option value="true"> Oui </option>
                <option value="false"> Non </option>
              </select>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" (click)="navigateToNature()">Annuler</button>
          <button class="btn btn-success" type="submit" [disabled]="natureForm.invalid">Valider</button>
        </div>
      </div>
    </div>
  </div>
</div>